.main-businesses {
  font-family: 'Asap', sans-serif;
  color: #121212;
  width: 100%;
  overflow-x: hidden;
  p {
    color: #2d2d2d;
    font-family: 'Work Sans', sans-serif;
  }
}

.business-introduction {
  width: 100%;
  height: 800px;
  color: #fff;
  position: relative;
  .border-background {
    position: absolute;
    width: 60%;
    background-image: url('../img/business-bg-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    height: 100%;
    right: 0;
    .hidden-decor {
      height: 100%;
    }
  }
  .container{
    .sidebar-left{
      float: left;
      margin-top:180px;
      position: relative;
      .ipad-left{
        position: absolute;
        z-index: 0;
        @include shadow-ipad;
      }
      .ipad-right{
        transform: translate(35px, 20px);
        position: absolute;
        z-index: 9;
        @include shadow-ipad;
        transition: all 0.6s ease;
        &:hover{
          transform: translate(35px, 12px);
        }
      }
      // .ipad-zindex{
      //   z-index: 9999;
      //   transition: all 1s ease;
      // }
    }
    .sidebar-right{
      float: left;
      margin-top: 120px;
      text-align: center;
      .coming-title {
        position: relative;
        background: rgba(60, 82, 84, 0.23);
        color: white;
        font-weight: bold;
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        margin: 0 auto;
        border-radius: 100px;
        justify-content: center;
        margin-bottom: 2em;
        p {
          margin: 5px 20px 0 20px;
          color: white;
          font-size: 15px;
          white-space: nowrap;
        }
        img {
          height: 2em;
          left: 0;
          bottom: 0;
          top: 0;
          margin-top: auto;
          margin-bottom: auto;
          position: absolute;
          border-radius: 50%;
          background: #17ec83;
          padding: 11px;
        }
        @include breakpoint($bs-md) {
          padding-left: 0em;
          img {
            display: none;
          }
        }
      }
      .tran{
        background: #fff;
        margin: 0 auto;
        width: -webkit-fit-content;
        width: fit-content;
        width: -moz-fit-content;
        border-radius: 5px;
        padding: 0px 21px;
        color: #5bcbcd;
        font-weight: bold;
      }
      .accept{
        padding-top: 30px;
        color: white;
        margin-bottom: 21px;
        font-weight: bold;
        text-transform: unset;
      }
      .yup{
        padding-top: 20px;
        color: #fff;
      }
      .three-no{
        padding-top: 24px;
        .no{
          float: left;
          padding: 0;
          img{
            width: 26px;
          }
          h6{
            font-weight: bold;
            line-height: 30px;
            padding-top: 10px;
          }
        }
      }
      .head-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        white-space: nowrap;
        .checkout {
          text-decoration: none;
          border-radius: 30px;
          border: 2px solid;
          border-color: rgba(255, 255, 255, 0.6);
          padding: 15px 30px;
          color: #fff;
          margin: 5px;
          // width: 230px;
          &:hover{
            background: #fff;
            color: $cl-but-hv;
          }
        }
        .sign-up {
          margin: 5px;
          border-radius: 30px;
          padding: 16px 30px;
          text-decoration: none;
          // width: 200px;
          background: #17ec83;
          color: #fff;
          &:hover{
            background: #14d676;
          }
        }
      }
    }
  }
}


.page-1{
  width: 100%;
  height: 800px;
  background: -webkit-linear-gradient(#fff, #dedede); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #dedede); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #dedede); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #dedede);
  .container{
    .row{
      margin: 0 auto;
      .sidebar-left{
        float: left;
        margin-top:150px;
        .slogan{
          @include slogan;
        }
        .whatever{
          @include whatever;
        }
        .sign-up{
          margin-top: 40px;
          padding-left: 0;
          text-align: center;
          a{
            width: 230px;
            text-decoration: none;
            margin: 0 auto;
            @include but;
            cursor: pointer;
          }

        }
      }
      .sidebar-right {
        float: left;
        margin-top: 230px;
        .orders-ipad {
          width: 110%;
        }
      }
    }
  }
}
// page-2
.page-2{
  width: 100%;
  overflow: hidden;
  .container{
    .content{
      text-align: center;
      .slogan{
        @include slogan;
      }
      .whatever{
        @include whatever;
        .not-bold{
          font-weight: normal;
        }
      }
      .sign-up{
        margin-top: 40px;
        a{
          width: 230px;
          text-decoration: none;
          margin: 0 auto;
          @include but;
          cursor: pointer;
        }
      }
    }
  }
  .three-ipads {
    width: inherit;
    margin-top: 2em;
  }
}
// page-3
.page-3{
  width: 100%;
  height: 850px;
  background-image: url('../img/bg-4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  .container{
    .content{
      text-align: center;
      .slogan{
        padding-top: 200px;
        padding-bottom: 50px;
        margin-bottom: 0px;
        font-weight: normal;
        color: #fff;
        text-transform: unset;
      }
      .whatever{
        padding-top: 20px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 0;
        color: #e5e5e5;
        img{
          padding-right: 10px;
        }
      }
      .sign-up{
        margin-top: 60px;
        padding-left: 0;
        a{
          white-space: nowrap;
          width: 280px;
          margin: 0 auto;
          text-decoration: none;
          @include but;
          cursor: pointer;
          }
        }
      }
    }
  }
// page-4
.page-4{
  width: 100%;
  background: -webkit-linear-gradient(#fff, #dedede); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #dedede); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #dedede); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #dedede);
  padding: 130px 0;
  .sidebar-left{
    text-align: center;
    .bg-4{
      width: inherit;
      margin-left: -370px;
    }
  }
  .sidebar-right {
    .slogan{
      @include slogan;
    }
    .whatever{
      @include whatever;
    }
    .sign-up{
      margin-top: 60px;
      padding-left: 0;
      float: left;
      a{
        width: 230px;
        text-decoration: none;
        @include but;
        cursor: pointer;
      }
    }
  }
  @include breakpoint($bs-lg) {
    .sidebar-left {
      margin-top: 30px;
      .bg-4 {
        width: 120%;
        margin-left: -10%;
      }
    }
    .sidebar-right {
      text-align: center;
      .slogan {
        padding: 0;
      }
      .sign-up {
        a {
          margin: 0 auto;
        }
      }
    }
  }
  @include breakpoint($bs-md) {
    .sidebar-left {
      .bg-4 {
        width: 180%;
        margin-left: -40%;
      }
    }
  }
}
// page-1
.page-5{
  width: 100%;
  padding: 150px 0;
  .sidebar-left {
    float: left;
    .slogan {
      @include slogan;
      padding: 0;
    }
    .whatever {
      @include whatever;
    }
    .sign-up {
      margin-top: 60px;
      padding-left: 0;
      a{
        white-space: nowrap;
        width: 200px;
        margin: 0 0;
        text-decoration: none;
        @include but;
        cursor: pointer;
      }
    }
  }
  .sidebar-right{
    text-align: right;
    .ipad{
      width: 90%;
      border-radius: 20px;
      filter: drop-shadow(0 5px 10px rgba(0,0,0,0.07)) drop-shadow(0px 0px 10px rgba(0,0,0,0.07));
    }
  }
  @include breakpoint($bs-xx) {
    .sidebar-left {
      margin-top: 20px;
    }
  }
  @include breakpoint($bs-lg) {
    .sidebar-left {
      margin-top: 0;
      float: unset;
      text-align: center;
      .slogan {
        padding-top: 0;
      }
      .sign-up {
        a {
          margin: 0 auto;
        }
      }
    }
    .sidebar-right{
      margin-top: 80px;
      .ipad{
        width: 100%;
        border-radius: 20px;
        filter: drop-shadow(0 5px 10px rgba(0,0,0,0.07)) drop-shadow(0px 0px 10px rgba(0,0,0,0.07));
      }
    }
  }
}
.page-6{
  width: 100%;
  position: relative;
  height: 820px;
  background-image: url('../img/7.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  .container{
    .content{
      text-align: center;
      .slogan{
        padding-top: 250px;
        margin-bottom: 30px;
        font-weight: normal;
        text-transform: none;
        color: white;
      }
      .whatever{
        padding-top: 20px;
        margin-bottom: 0;
        color: #e5e5e5;
        span{
          color:#19d8ad;
        }
      }
      .sign-up{
        margin-top: 60px;
        padding-left: 0;
        .center-text {
          img {
            width: 30px;
          }
        }
        a{
          white-space: nowrap;
          width: 220px;
          margin: 0 auto;
          text-decoration: none;
          @include but;
          cursor: pointer;
          }
        }
    }
  }
}
.business-footer {
  @extend .footer;
  position: absolute;
  bottom: 0;
  width: 100%;
  .top-line {
    border-top: 1px solid #3f3f3f;
    padding-top: 2em;
  }
  .content {
    .copy-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      p {
        color: rgb(153, 153, 153);
        font-size: .8em;
        margin: 0;
        line-height: 20px
      }
    }
    .line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .8em;
      height: 100%;
      a {
        color: #aeacad;
      }
    }
    .email {
      p {
        color: rgb(153, 153, 153);
        font-size: .8em;
        margin: 0;
        line-height: 20px
      }
      a {
        color: rgb(153, 153, 153);
        font-size: 1em;
        margin: 0;
        line-height: 20px
      }
    }
  }
}

@include breakpoint($bs-xx){
  .business-introduction .container .sidebar-right .coming-title {
    p {
      font-size: 14px;
    }
    img {
      height: 1.7em;
      padding: 9px;
    }
  }
  .business-introduction .container .sidebar-right .head-button {
    .checkout {
      padding: 9px 30px;
      font-size: 15px;
    }
    .sign-up {
      padding: 10px 30px;
      font-size: 15px;
    }
  }
  .business-introduction .container .sidebar-right .three-no .no h6 {
    font-size: 14px;
  }
  .page-1 .container .row .sidebar-left .sign-up a {
    padding: 10px 30px;
    font-size: 15px;
  }
  .page-2 .container .content .sign-up a {
    padding: 10px 30px;
    font-size: 15px;
  }
  .page-3 .container .content .sign-up a {
    padding: 10px 30px;
    font-size: 15px;
  }
  .page-4 .container .sidebar-right .sign-up a {
    padding: 10px 30px;
    font-size: 15px;
  }
  .page-5 .container .sidebar-left .sign-up a {
    padding: 10px 30px;
    font-size: 15px;
  }
  .page-6 .container .content .sign-up a {
    padding: 8px 30px;
    font-size: 15px;
  }
  .business-footer {
    .content {
      .copy-right {
        p {
          font-size: .7em;
        }
      }
      .line {
        font-size: .7em;;
      }
      .email {
        p {
          font-size: .7em;
        }
      }
    }
  }
}

@include breakpoint($bs-xl){
  .business-introduction .border-background, .page-3, .page-6 {
    background-attachment: scroll;
    background-position-x: center;
  }
  .business-introduction .container .sidebar-left .ipad-left{
    width: 85%;
  }
  .business-introduction .container .sidebar-left .ipad-right{
    width: 88%;
    transform: translate(20px, 15px);
  }
  .business-introduction .container .sidebar-left .ipad-right:hover{
    transform: translate(30px, 10px);
  }
  .page-1{
    height: 800px;
  }
  .business-introduction .container .sidebar-left{
    margin-top: 230px;
  }
  .page-1 .container .sidebar-left{
    padding-top: 100px;
  }
  .page-1 .container .sidebar-right .slide .cc-left{
    padding-top: 100px;
  }
  .page-1 .container .row .sidebar-left .slogan{
    padding-top: 50px;
  }
  .page-1 .container .row .sidebar-right .slide{
    width: 100%;
  }
  .page-1 .container .row .sidebar-right .slide section{
    margin-left: -0.2em;
  }
};
@include breakpoint($bs-lg){
  .business-introduction{
    height: 1200px;
    .border-background {
      width: 100%;
      .hidden-decor {
        display: none;
      }
    }
    .menu{
      display: flex;
      width: 100%;
      background: #fff;
      z-index: 999;
      .container{
        .soon{
          p{
            text-align: center;
          }
        }
      }
    }
    .container{
      .sidebar-left{
        max-width: 100%;
        margin-top:100px;
        .ipad-right,.ipad-left{
          width: auto;
          padding-left: 10%;
        }
      }
      .sidebar-right{
        max-width: 100%;
        margin-top: 450px;
      .three-no{
        .no{
          img{
            width: auto;
          }
        }
      }
      }
    }
  }
  .page-1{
    height: 1000px;
    .container{
      display: flex;
      flex-direction: column;
      .row{
        .sidebar-left{
          min-width: 100%;
          text-align: center;
          margin-top: 0px;
          order:2;
          .slogan{
            padding-top: 0px;
          }
          .sign-up{
            max-width: 100%;
            a{
              img{
                width: 35px;;
              }
            }
          }
        }
        .sidebar-right{
          margin-top: 130px;
          min-width: 100%;
          order:1;
          .orders-ipad {
            width: 100%;
          }
        }
      }

    }
  }
  .page-3 .container .content .sign-up a{
    width: 280px;
  }
  .page-2 .container .content .sign-up a img,.page-3 .container .content .sign-up a img
  ,.page-4 .container .sidebar-right .sign-up a img{
    width: 35px;
  }
  .page-6 {
    height: 50em;
  }
};
@include breakpoint($bs-md){
  .page-2 .three-ipads {
    width: 170%;
    margin-left: -35%;
  }
  .business-introduction .container .sidebar-right .three-no{
    padding-top: 30px;
  }
  .page-2 .container .content .whatever br{
    display: none;
  }
  .business-introduction .container .sidebar-left .ipad-right{
    width: 90%;
    padding-left: 0px;
  }
   .business-introduction .container .sidebar-left .ipad-left{
    padding-left: 0px;
    width: 85%;
  }
  .business-introduction .container .sidebar-right{
    margin-top: 430px;
  }
  .page-1{
    height: 710px;
  }
  .page-1 .container .row .sidebar-right .slide section .main-pos img{
    width: 100%;
     margin-left: -30px;
  }
  .page-1 .container .row .sidebar-right .slide section .left-pos img{
    margin-top: -50px;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }
  .page-1 .container .row .sidebar-right .slide section .right-pos{
    margin-left:  0.5em;
  }
  .page-1 .container .row .sidebar-right .slide section .right-pos img{
    margin-top: -50px;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }
  .page-1 .container .sidebar-left{
    padding-top: 0px;
  }
  .business-footer .content .footer-logo {
    display: none;
  }
};
@include breakpoint($bs-sm){
  .business-introduction{
    height: 1020px;
    .menu{
      .container {
        .logo{
          display: none;
        }
        .soon{
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          p{
            margin: 0 auto;
            float: none;
          }
        }
      }
    }
    .container{
      padding: 0;
      .sidebar-right{
        margin-top: 400px;
        padding: 0;
        .accept{
          line-height: 40px;
        }
        .head-button{
          flex-direction: column;
          .checkout,.sign-up{
            width: 250px;
          }
        }
        .three-no{
          background: #fff;
          margin-top: 50px;
          height: 400px;
          .no{
            padding-top: 20px;
            h6{
              color: $cl-tit;
              padding-top: 5px;
              br{
                display: none;
              }
            }
          }
        }

      }
    }
  }
  .page-1{
    height: 1100px;
    .container{
      .row{
        display: unset;
        .sidebar-right{
          padding: 0;
          .slide{
            height: 400px;
            section{
              margin-left: -2.0em;
              .right-pos{
                margin-top: -30px;
                img{
                  opacity: 0;
                }
              }
              .left-pos{
                margin-top: -30px;
                img{
                  opacity: 0;
                }
              }
              .main-pos{
                img{
                  width: 99% !important;
                  margin-left: -20px;
                  margin-top: -40px;
                  margin: 0 auto;
                }
              }
            }
          }

        }
        .sidebar-left{
           .slogan{
             padding-top: 100px;
           }
           .whether{
             padding-top: 10px;
           }
           .sign-up{
             p{
               padding: 15px 0 10px 0;
             }
           }
         }
      }

     }
  }
  .page-2{
    .container{
      .content{
        .slogan{
          padding-top: 130px;
        }
        .whatever{
          padding-top: 10px;
          margin-bottom: 5px;
        }
        .sign-up{
          p{
            padding: 15px 0 10px 0;
          }
        }
       }
     }
   }
   .page-3{
     height: 800px;
     .container{
       .content{
         .slogan{
           padding-top: 200px;
           padding-bottom: 20px;
         }
         .whatever{
           padding-top: 10px;
           margin-bottom: 5px;
         }
         .sign-up{
           p{
             padding: 15px 0 10px 0;
             width: 250px;
           }
         }
        }
      }
   }
   .business-introduction .container .sidebar-right{
     margin-top: 300px;
   }
};
@include breakpoint($bs-xs){
  .business-introduction .container .sidebar-right{
    margin-top: 250px;
  }
  .page-2 .container .content .slogan{
    padding-top: 100px;
  }

  .business-introduction .container .sidebar-left .ipad-right{
    width: 88%;
  }
  .page-1{
    height: 950px;
  }
  .business-introduction .container .sidebar-left .ipad-right{
    transform: translate(15px, 10px);
  }
  .business-introduction .container .sidebar-left .ipad-right:hover{
    transform: translate(15px, 5px);
  }
};
