.sending-money {
  background: url("../img/background-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-size: cover;
  position: relative;
  .space-for-section {
    padding: 12em 0 7em 0;
  }
  .decor {
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    background: url("../img/rectangle-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -1px;
  }
  .text {
    margin: auto 0;
    width: 100%;
    padding: 1em 0;
    text-align: right;
    .title {
      display: flex;
      border-bottom: 1px solid #909090;
      padding-bottom: 1em;
      margin-bottom: 1em;
      .title-icon {
        margin-left: 1em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        img {
          height: 120px;
        }
      }
      h2 {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  @include breakpoint($bs-xx){
    .space-for-section {
      padding: 10em 0 4em 0;
    }
    .text .title .title-icon img {
      height: 100px;
    }
  }
  @include breakpoint($bs-xl){
    background-attachment: scroll;
    .space-for-section {
      padding: 8em 0 4em 0;
    }
  }
  @include breakpoint($bs-md){
    .space-for-section {
      padding: 7em 0 4em 0;
    }
  }
  @include breakpoint($bs-sm){
    .space-for-section {
      padding: 6em 0 4em 0;
    }
  }
  @include breakpoint($bs-md) {
    .text {
      padding-bottom: 2em;
      text-align: center;
      .title {
        flex-direction: column-reverse;
        .title-icon {
          margin-left: 0;
          align-items: center;
          flex-direction: unset;
          margin-bottom: .5em;
        }
      }
    }
  }
}
