.terms-of-service{
  h1{
    width: 255px !important;
    margin-bottom: 20px !important;
  }
  h2{
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600px;
    color: #595959;
  }
}
