nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  .top-bar {
    padding: 0 5%;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    .left-items {
      padding: 1em 0 ;
      justify-content: space-between;
      display: flex;
      .logo {
        img {
          width: 130px;
        }
      }
      .expand-button {
        background: none;
        border-radius: 3px;
        outline: none;
        border: none;
        color: #62cdd1;
        cursor: pointer;
        display: none;
        font-size: 14px;
      }
    }
    .menu {
      display: flex;
      height: fit-content;
      margin: auto 0;
      a {
        color: white;
        margin: .1em .6em;
        border-radius: 50px;
        padding: 4px 16px;
        font-size: 17px;
        text-decoration: none;
        &:hover {
          background: white;
          color: #5fcccf;
        }
        &.active {
          background: rgba(204, 240, 244, 0.35);
          &:hover {
            color: white;
          }
        }
      }
      .login {
        border: 2px solid rgba(255, 255, 255, 0.6);;
      }
    }
  }
  @include breakpoint($bs-xx){
    .top-bar {
      .left-items {
        .logo {
          img {
            width: 100px;
          }
        }
      }
      .menu {
        a {
          font-size: 14px;
        }
      }
    }
  }
  @include breakpoint($bs-md){
    padding-bottom: .5em;
    background: transparent;
    .top-bar {
      padding: 0;
      flex-direction: column;
      .left-items {
        .expand-button {
          display: block;
        }
      }
      .menu {
        flex-direction: column;
        display: none;
      }
    }
    &.is-expand {
      background: #55b9cd;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
      .top-bar {
        .menu {
          padding: 10px 0;
          display: flex;
          a {
            font-weight: bold;
            padding: 10px 20px;
            margin: 5px 0;
          }
        }
      }
    }
  }
}
