@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://fonts.googleapis.com/css?family=Asap:400,600|Work+Sans');

@import "variables";
@import "mixin";
@import "general";
@import "common";
@import "header";
@import "./components/index";
@import "./sections/index";
