.footer {
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .content {
    padding: 2em;
    text-align: center;
    .term {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #999999;
      a {
        color: #999999;
        margin: 0;
      }
    }
  }

  @include breakpoint($bs-md) {
    .content {
      .footer-logo {
        display: none;
      }
      .network {
        margin-top: 1em;
      }
    }
  }
}
